.button-background{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 4px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20x;
    line-height: 40px;
    text-align: center;
    color:#FFFFFF;
}
.green{
    left: 679px;
    top:229px;
    background-color: #04A928;
}
.red{
    left: 787px;
    top:229px;
    background-color: #B10202;
}
.number{
    position: absolute;
    width: 23px;
    height: 24px;
    left: 741px;
    top: 217px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    
    color:#000000;
}